# This configuration is optional
# Read more on: https://nextjs.org/telemetry
NEXT_TELEMETRY_DISABLED=1
PORT=3000
MONGO_URL=mongodb://localhost/thruway
# MONGO_INITDB_ROOT_USERNAME=thruway
# MONGO_INITDB_ROOT_PASSWORD=thruway