# Business Configuration
#
# This is the configuration for the admin user created during
# application initialization.
#
# Keep the `Email` value consistent for `bootstraping` to run
# successfully as this email is checked against database in order
# to create or not the admin user
ADMIN_EMAIL=admin@thruway.com
# Admin password should only be defined the first time the application
# runs (when creating the admin user). Remember to updated this password
# in the future.
#
# If no password is defined the first time the application runs, `root`
# will be used as "fallback" password
ADMIN_PASSWORD=root

# NextJS Configuration
#
# This configuration is optional
# Read more on: https://nextjs.org/telemetry
NEXT_TELEMETRY_DISABLED=1

# JSON Web Token (JWT) Configuration
#
# JWT Expiration Time, makes use of zeit/ms expressions
# https://github.com/vercel/ms#examples
JWT_TOKEN_COOKIE_NAME=thruway::token
JWT_REFRESH_TOKEN_COOKIE_NAME=thruway::refresh_token
JWT_EXPIRATION=15m
JWT_REFRESH_TOKEN_EXPIRATION=12h
JWT_PRIVATE_KEY=thruway

# Server Configuration
APPLICATION_DOMAIN=0.0.0.0
COOKIE_SIGNATURE=thruway
PORT=3000

# MongoDB Configuration
#
# MONGO_INITDB_ROOT_USERNAME and MONGO_INITDB_ROOT_PASSWORD
# are used by Docker to build the MongoDB image and initialize
# the database, make sure you ser username and password for
# MONGO_URL when these are defined
MONGO_URL=mongodb://localhost/thruway
# MONGO_INITDB_ROOT_USERNAME=thruway
# MONGO_INITDB_ROOT_PASSWORD=thruway
