.sidebar {
  @apply bg-white p-4 shadow;

  height: calc(100vh - 78px);
  grid-column: 1 / 1;
  width: 100%;

  ul {
    @apply m-0 p-0 list-none;

    li {
      @apply mb-2;

      &:last-child {
        @apply mb-0;
      }

      a {
        @apply inline-block px-3 py-2 rounded h-full w-full;
        @apply text-gray-300;

        transition: 100ms background-color ease-in;

        &:hover {
          @apply cursor-pointer bg-primary text-white;
        }
      }
    }
  }
}

.active {
  @apply bg-primary text-white !important;

  transition: 100ms background-color ease-in;
}
